@mixin plusMinus() {
    box-sizing: border-box;
    transition: transform 0.3s;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    transform: rotate(180deg);
    position: relative;
    border: solid 1px black;
    left: 1px;
    display: inline-block;
    margin-right: 5px;

    &.minus {
        transform: rotate(0deg);
    }
    &::before {
        content: '';
        display: block;
        width: 8px;
        height: 0px;
        border-bottom: solid 2px #000;
        position: absolute;
        bottom: 4px;
        left: 1px;
        transform: rotate(90deg);
        transition: width 0.3s;
    }
    &.minus::before {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-bottom: solid 2px #000;
        position: absolute;
        transform: rotate(90deg);
    }
    &::after {
        content: '';
        display: block;
        width: 8px;
        height: 0px;
        border-bottom: solid 2px #000;
        position: absolute;
        bottom: 4px;
        left: 1px;
    }
}

.advanced-custom-fields-module-inspector-results {
    .refresh-cache {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('../images/refresh.svg');
        background-size: contain;
/*
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 40px;
            height: 25px;
            background-image: url('../images/refresh.svg');
        }
        */
    }

    ul.groups {
        > li {
            font-weight: bold;
            font-size: 16px;

            h3 {
                font-size: 16px;
                margin: 0;
                cursor: pointer;
            }

            h3,
            h4,
            h5 {
                i {
                    @include plusMinus();
                }
            }

            ul.fields {
                margin-left: 20px;
                display: none;

                > li {
                    h4 {
                        font-size: 14px;
                        margin: 0;
                        cursor: pointer;
                    }

                    ul.modules {
                        margin-left: 40px;
                        display: none;

                        &.show {
                            display: block;
                        }

                        > li {
                            font-size: 12px;

                            h5 {
                                font-size: 14px;
                                margin: 0;
                                cursor: pointer;

                                &.empty {
                                    color: red;
                                    cursor: default;
                                }
                            }

                            ul.urls {
                                margin-left: 40px;
                                display: none;

                                li {
                                    a {
                                        font-weight: normal;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
